<header>
  <nav>
    <!-- navbar brand -->
    <a href="{{ .Site.BaseURL | relURL }}" class="header-logo">
        {{ if and .Site.Params.showFullLogo .Site.Params.fullLogo | default true }}
        <img src="{{ .Site.Params.fullLogo }}" class="header-logo--full">
        {{ else if .Site.Params.showBrandLogo and (or (.Site.Params.brandLogo) (.Site.Params.favicon)) }}
        <img src="{{ .Site.Params.brandLogo | default .Site.Params.favicon }}" class="header-logo--brand">
        {{ .Site.Params.name | default .Site.Params.title }}
        {{ else }}
        {{ .Site.Params.name | default .Site.Params.title }}
        {{ end }}
    </a>

    <div class="header-nav">
      <!-- navbar section links -->
      {{ range .Site.Params.navbar.enabledSections -}}
        {{ if .enabled | default true }}
          <a href="#{{ .section }}" class="header-nav--item">{{ .label }}</a>
        {{ end }}
      {{- end }}

      <!-- custom menu -->
      {{ range .Site.Menus.main }}
        <a href="#{{ .URL }}" class="header-nav--item" title="{{ .Title }}">
          {{ .Pre }}
          {{ .Name }}
        </a>
      {{ end }}
    </div>
  </nav>
</header>
